@model LibratViewModel
@{
    ViewData["Title"] = "Shto librin";
}

<section class="container">

    <h1 class="text-center mt-5">Regjistro librin</h1>
    <form class="row d-flex justify-content-center">
        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label mt-5" for="form2Example1">Titulli</label>
            <input asp-for="Titulli" type="text" id="form2Example1" class="form-control" />
        </div>
        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label" for="form2Example1">Pershkrimi</label>
            <input asp-for="Pershkrimi" type="text" id="form2Example1" class="form-control" />
        </div>

        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label" for="form2Example1">ISBN</label>
            <input asp-for="ISBN" type="email" id="form2Example1" class="form-control" />
        </div>

        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label" for="form2Example1">Shtepia Botuese</label>
            <input asp-for="ShtepiaBotuese" type="text" class="form-control" />
        </div>

        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label" for="form2Example1">Viti i botimit</label>
            <input asp-for="VitiBotimit" type="text" class="form-control" />
        </div>
        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label" for="form2Example1">Imazhi</label>
            <input asp-for="Image" type="text" class="form-control" />
        </div>

        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label" for="form2Example1">Kategoria</label>
            <input asp-for="KategoriaId" type="text" class="form-control" />

        </div>

        <div class="form-outline col-lg-6 mx-2 mb-4">

            <label class="form-label" for="form2Example1">Sasia</label>
            <input asp-for="NrKopjeve" type="text" class="form-control" />
        </div>
        <div class="form-outline col-lg-6 mx-2 mb-4 d-flex justify-content-between">
            <a type="button" asp-controller="Librat" asp-action="Index" class="btn btn-success col-4  mb-5">Save</a>
            <a type="button" asp-controller="Librat" asp-action="Index" class="btn btn-danger col-4  mb-5">Cancel</a>
        </div>
    </form>
</section>