@model PjesmarresitViewModel
 

<div class="row d-flex justify-content-center">
    
      
<div class="form-outline mb-4 col-lg-6 mx-2">
    <h1 class="text-center mt-5">Ndrysho fjalekalimin</h1>
    <label class="form-label" for="form2Example1">Fjalekalimi aktual</label>
    <input asp-for="Fjalekalimi" type="text" id="form2Example1" class="form-control" />
  </div>
   <div class="form-outline mb-4 col-lg-6 mx-2">
   
    <label class="form-label" for="form2Example1">Fjalekalimi i ri</label>
    <input asp-for="Fjalekalimi" type="text" id="form2Example1" class="form-control " />
  </div>

   <div class="form-outline mb-4 col-lg-6 mx-2">
   
    <label class="form-label" for="form2Example1">Konfirmo Fjalekalimin</label>
    <input asp-for="Fjalekalimi"type="email" id="form2Example1" class="form-control" />
  </div>
  <div class="form-outline d-flex justify-content-between col-lg-6 mx-2 mb-4">
  <a type="button" asp-controller="Pjesmarresit" asp-action="Profili" class="btn col-4 btn-success w-100">Confirm</a>
  <a type="button" asp-controller="Pjesmarresit" asp-action="Edit" class="col-4 btn btn-danger w-100">Cancel</a>
  </div>
</div>
