@{
    ViewData["Title"] = "Edit profile";
}
@model PjesmarresitViewModel

  <section class="container mt-5">
      <h1 class="text-center mb-5">Ndryshoni te dhenat</h1>
      <form class="row d-flex justify-content-center">
  <div class="form-outline mb-4 col-lg-6 mx-2">
   
    <label class="form-label" for="form2Example1">Emri...</label>
    <input asp-for="Emri" value=@Model.Emri type="text" id="form2Example1" class="form-control" />
  </div>
   <div class="form-outline mb-4 col-lg-6 mx-2">
   
    <label class="form-label" for="form2Example1">Mbiemri...</label>
    <input asp-for="Mbiemri" value="@Model.Mbiemri" type="text" id="form2Example1" class="form-control " />
  </div>

   <div class="form-outline mb-4 col-lg-6 mx-2">
   
    <label class="form-label" for="form2Example1">Email address...</label>
    <input asp-for="Email" value=@Model.Email type="email" id="form2Example1" class="form-control" />
  </div>

   <div class="form-outline mb-4 col-lg-6 mx-2">
   
    <label class="form-label" for="form2Example1">Emri i perdoruesit...</label>
    <input asp-for="Perdoruesi" value=@Model.Perdoruesi type="text" id="form2Example1" class="form-control " />
  </div>
  <div class="form-outline mb-4 col-lg-6 mx-2 d-flex justify-content-between">
  <a type="button" class="btn btn-primary col-4 mx-1" asp-controller="Pjesmarresit" asp-action="ChangePassword">Change password</a>
  <a type="button" class="btn btn-success col-4 mx-1" asp-controller="Pjesmarresit" asp-action="Profili">Save</a>
  </div>

</form>
</section>


